<div class='container'>
  <div class='row'>
    <% @articles.last(5).each do |article| %>
    <div class="">
    <%= article.title %>
    <%= article.description %>
    </div>
    <% end %>
  </div>
</div>
